@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    List<Appointment> appointments = ViewBag.Appointments;
    bool editMode= TempData["EditMode"] == null ? false : (bool)TempData["EditMode"];

    int appointmentId = TempData["AppointmentId"] == null ? -1 : (int)TempData["AppointmentId"];

    string searchText = TempData["SearchText"] == null ? "" :TempData["SearchText"].ToString();

    int userId =(int) TempData["UserId"];
}
<div class=" mt-3 mb-3" style="height:5rem;}">
    <p class=" d-inline fw-bold" style="font-size:2rem;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">HERE ARE YOUR UPCOMING APPOINTMENTS</p>
    <a href="/Appointments/Logout" class="d-inline btn btn-dark float-end p-2 mt-3" >Logout</a>
    @if (editMode == true)
    {
        <form class="row g-3 mt-3 ms-5 " asp-action="Search" method="post">
            <div class="col-4">
            <input type="text" disabled class="form-control" name="searchText" id="search-text" placeholder="Search For Appointments..">
        </div>
        <div class="col-auto">
            <button type="submit" disabled class="btn btn-primary mb-3">search</button>
        </div>
    </form>
    }
    @if (editMode == false)
    {
        <form class="row g-3 mt-3 ms-5 " asp-action="Search" method="post" >
            <div class="col-4">
                <input type="text"  class="form-control" name="searchText" id="search-text" placeholder="Search For Appointments..">
            </div>
            <div class="col-auto">
                <button type="submit"  class="btn btn-primary mb-3">search</button>
            </div>
        </form>
    }
</div>
<div class="container p-5 ">
  
        <a href="/Appointments/Create" style=" position: fixed; bottom: 50px; right: 60px; z-index:1000;" class="btn btn-lg rounded-pill btn-success " >
             +
            </a>
    @if (appointments.Count == 0)
    {
        <h3 class="text-center">No Appointments Ahead , Lets Create One....</h3>
    }
    @if (editMode == false)
    {
        @foreach (Appointment appointment in appointments)
       {
            if (searchText.Length != 0 && appointment.Title.ToLower().Contains(searchText))
            {
                <div class="modal fade" id="staticBackdrop-@appointment.Id" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="staticBackdropLabel">Delete Appointment</h5>

                            </div>
                            <div class="modal-body">
                                Are You Sure You Want To Delete @appointment.Title??
                            </div>
                            <div class="modal-footer">
                                <form asp-action="Delete" asp-route-appointmentId=@appointment.Id>

                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-danger">Delete</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card card-hover mb-5 shadow-lg">
                    <div class="card-header">
                        <h5 class="card-title">@appointment.Title</h5>
                        <span class="float-end">@appointment.Date.ToLongDateString()</span>
                    </div>
                    <div class="card-body">
                        <p class="card-text">@appointment.Description</p>
                        <div class="d-flex float-end mt-3 mb-3">
                            <a href="/Appointments/Edit?appointmentId=@appointment.Id&searchText=@searchText" class="btn me-2 btn-warning">Edit</a>
                            <button type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop-@appointment.Id" class="btn btn-danger">Delete</button>
                        </div>

                    </div>
                </div>
            }
            if (searchText.Length == 0)
            {
                <div class="modal fade" id="staticBackdrop-@appointment.Id" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="staticBackdropLabel">Delete Appointment</h5>

                            </div>
                            <div class="modal-body">
                                Are You Sure You Want To Delete @appointment.Title??
                            </div>
                            <div class="modal-footer">
                                <form asp-action="Delete"  asp-route-appointmentId=@appointment.Id>

                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-danger">Delete</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card card-hover mb-5 shadow-lg">
                    <div class="card-header">
                        <h5 class="card-title">@appointment.Title</h5>
                        <span class="float-end">@appointment.Date.ToLongDateString()</span>
                    </div>
                    <div class="card-body">
                        <p class="card-text">@appointment.Description</p>
                        <div class="d-flex float-end mt-3 mb-3">
                            <a href="/Appointments/Edit?appointmentId=@appointment.Id" class="btn me-2 btn-warning">Edit</a>
                            <button type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop-@appointment.Id" class="btn btn-danger">Delete</button>
                        </div>

                    </div>
                </div>
            }
        }

    }
    @if (editMode == true)
    {
        @foreach (Appointment appointment in appointments)
        {
            if (searchText.Length != 0 && appointment.Title.ToLower().Contains(searchText))
            {
                @if (appointment.Id == appointmentId)
                {
                    <div class="card  mb-5 shadow-lg" disabled>
                        <form asp-action="Edit" asp-route-appointmentId=@appointment.Id method="post">
                            <div class="card-header">
                                <label for="app-title" class="form-label">Title </label>
                                <input value="@appointment.Title"type="text" name="title" class="form-control" id="app-title" required/>
                                <label for="app-date" class="form-label">Date </label>
                                <input calue="@appointment.Date" type="date" name="date" class="form-control" id="app-date" required />
                            </div>
                            <div class="card-body">
                                <label for="exampleFormControlTextarea1" class="form-label">Description </label>
                                <input type ="text" value="@appointment.Description" required name="description" class="form-control" id="exampleFormControlTextarea1" rows="3"/>
                                <div class="d-flex float-end mt-3 mb-3">
                                    <button type="submit" class="btn me-2 btn-success">Submit</button>
                                    <a href="/Appointments" class="btn btn-danger">Cancel</a>
                                </div>

                            </div>
                        </form>
                    </div>
                }
                @if (appointmentId != appointment.Id)
                {
                    <div class="card  mb-5 shadow-lg">
                        <div class="card-header">
                            <h5 class="card-title">@appointment.Title</h5>
                            <span class="float-end">@appointment.Date.ToLongDateString()</span>
                        </div>
                        <div class="card-body">
                            <p class="card-text">@appointment.Description</p>
                            <div class="d-flex float-end mt-3 mb-3 ">
                                <a  href="/Appointments/Edit?appointmentId=@appointment.Id" class="btn disabled me-2 btn-warning">Edit</a>
                                <a href="#" data-toggle="modal" data-target="#exampleModalCenter-@appointment.Id" class="btn disabled btn-danger">Delete</a>
                            </div>

                        </div>
                    </div>
                }
            }
            @if(searchText.Length==0)
            {
                @if (appointment.Id == appointmentId)
                {
                    <div class="card  mb-5 shadow-lg" disabled>
                        <form asp-action="Edit" asp-route-appointmentId=@appointment.Id method="post">
                            <div class="card-header">
                                <label for="app-title" class="form-label">Title </label>
                                <input value="@appointment.Title" type="text" name="title" class="form-control" id="app-title" required />
                                <label for="app-date" class="form-label">Date </label>
                                <input calue="@appointment.Date" type="date" name="date" class="form-control" id="app-date" required />
                            </div>
                            <div class="card-body">
                                <label for="exampleFormControlTextarea1" class="form-label">Description </label>
                                <input type="text" value="@appointment.Description" required name="description" class="form-control" id="exampleFormControlTextarea1" rows="3" />
                                <div class="d-flex float-end mt-3 mb-3">
                                    <button type="submit" class="btn me-2 btn-success">Submit</button>
                                    <a href="/Appointments" class="btn btn-danger">Cancel</a>
                                </div>

                            </div>
                        </form>
                    </div>
                }
                @if (appointmentId != appointment.Id)
                {
                    <div class="card  mb-5 shadow-lg">
                        <div class="card-header">
                            <h5 class="card-title">@appointment.Title</h5>
                            <span class="float-end">@appointment.Date.ToLongDateString()</span>
                        </div>
                        <div class="card-body">
                            <p class="card-text">@appointment.Description</p>
                            <div class="d-flex float-end mt-3 mb-3 ">
                                <a href="/Appointments/Edit?appointmentId=@appointment.Id" class="btn disabled me-2 btn-warning">Edit</a>
                                <a href="#" data-toggle="modal" data-target="#exampleModalCenter-@appointment.Id" class="btn disabled btn-danger">Delete</a>
                            </div>

                        </div>
                    </div>
                }
            }
        }
    }
</div>
<script src="~/Scripts/jquery-3.6.0.min.js"></script>

<script src="~/js/datepicker.js" asp-append-version="true"></script>
